@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

.navbar1 {
  background-color: #f8f8f8;
  padding: 8px 16px;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar1-hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.derleme1 {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  border-radius:  0 50%    50% 0; /* Sadece sağ tarafı yuvarlak yap */
  position: relative;
  animation: slideInFromLeft 1s ease-out forwards;

}

/* Soldan gelen animasyon */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Ekranın solundan başlar */
  }
  100% {
    transform: translateX(0); /* Konumunda durur */
  }
}

