.derleme {
  @apply bg-orange-500 flex h-screen w-screen;
}
.icon-grid {
  @apply grid grid-cols-1 md:grid-cols-3 gap-4 bg-[#f5f1ef] mt-[-70px] pt-[140px] pb-[60px] text-[16px] justify-items-center items-center;
}



.icon-container {
  @apply   flex items-center justify-center h-full p-4;
  height: 297.73px;
  width: 256.4px;
  overflow-wrap: break-word; /* Uzun kelimeleri böler */
  white-space: normal;
  overflow: visible;
  text-overflow: ellipsis; /* Taşan metin için '...' ekler */
  display: -webkit-box; /* Çok satırlı taşma kontrolü */
  -webkit-line-clamp: 5; /* Maksimum 5 satır gösterir */
  -webkit-box-orient: vertical;
 
}



